@font-face {
    font-family: "SBL Hebrew";
    src: url("SBLHebrew.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

table.worksheet tr td {
    border-top: 3px solid black;
}

.biblical-hebrew {
    font-family: "SBL Hebrew";
    font-weight: normal;
    font-style: normal;
}

.print-row-definition {
    min-height: 8em;
}
